#container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 4em;
}

#todos {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: white;
    color: var(--secondary-color);
    padding: 4em;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    border-top: 1px solid var(--project-color);
}

#todos-tab {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 10px 10px 0px 0px;
}

.todos-tab-item {
    color: var(--secondary-color);
    padding: 1em 2em;
    width: 100%;
    cursor: pointer;
    transition: 0.1s ease-in-out;
}

.todos-tab-item:hover,
.todos-tab-item__active {
    background-color: var(--project-color);
    color: white;
    border-radius: 10px 10px 0px 0px;
    position: relative;
    transform: scaleY(1.5);
}

.todos-tab-item:hover span,
.todos-tab-item__active span {
    display: block;
    transform: scaleY(0.6667);
}

.todos-empty {
    margin: 5em auto;
}

#todos-content {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.todo-item {
    display: flex;
    justify-content: space-between;
    gap: 3em;
    align-items: center;
    padding: 1em 2em;
    margin-bottom: 0.8em;
    border: 1px solid var(--text-color);
    border-radius: 10px;
}

.todo-item:hover {
    background-color: rgba(0, 0, 0, 0.1);
    color: rgb(70, 70, 70);
}

.todo-item:hover span,
.todo-item__active span {
    display: block;
    transform: scaleY(0.6667);
}

.todo-item-done {
    opacity: 0.3;
}

.todo-title {
    font-size: 1.3em;
    font-weight: bold;
}

.todo-info {
    max-width: 300px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.todo-check-div {
    display: flex;
    flex-direction: row;
    gap: 2em;
}

.todo-action {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}

.todo-action-date {
    font-size: 1.2rem;
    font-weight: 500;
}

.todo-action-prio {
    font-size: 1.1rem;
    font-weight: 600;
}

.delete-todo-btn {
    height: 2em;
    cursor: pointer;
}

/*Dialog Styles*/

#open-dialog {
    background-color: var(--project-color);
    color: white;
    border-radius: 100%;
    border: none;
    width: 2em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    bottom: 1em;
    right: 1em;
    transform: rotate(0deg);
    transition: transform 0.5s ease-in;
}

#open-dialog:hover {
    transform: rotate(180deg);
}

dialog {
    margin: auto;
    border: none;
    border-radius: 1rem;
}

dialog button {
    user-select: none;
    border: none;
    border-radius: 0.4rem;
    font-size: 1rem;
    padding: 0.5em;
    width: fit-content;
}

#close-dialog {
    background-color: rgb(255, 70, 70);
    color: white;
}

#addTodoBtn {
    background-color: #7cb342;
    color: white;
}

form {
    width: 100%;
    height: 100%;
    padding: 2em 4em;
    display: flex;
    flex-flow: column nowrap;
    gap: 2em;
    justify-content: center;
    align-items: center;
}

form .buttons {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#noteDiag {
    width: 80%;
    height: 80%;
}

textarea {
    width: 100%;
    height: 100%;
    resize: none;
    border-radius: 0.4rem;
    font-size: 1rem;
    padding: 0.5em;
}

input[type="checkbox"] {
    width: 2.5em;
    cursor: pointer;
}
